

:root {
    --color-black-dark: #1B1B1D;
    --color-black-medium: #25262A;
    --color-black-ligth: #33393E;

    --shadow-ligth: #363c42;
    --shadow-dark: #101113;

    --color-main-dark: #FF4A02;
    --color-main-ligth: #FF9430;
}