@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 850px;
  background-image: -webkit-linear-gradient(top, var(--color-black-dark), var(--color-black-ligth));
}

:root {
  --color-black-dark: #1B1B1D;
  --color-black-medium: #25262A;
  --color-black-ligth: #33393E;
  --shadow-ligth: #363c42;
  --shadow-dark: #141618;
  --color-main-dark: #FF4A02;
  --color-main-ligth: #FF9430;
}

.p__app__section__home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.p__app__section__home .p__app__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
}
.p__app__section__home .p__app__container .p__app__termporizador__container {
  width: 100%;
  margin-top: 40px;
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador {
  width: 100%;
  margin: 0px auto;
  border-radius: 50%;
  border: 10px solid var(--color-black-dark);
  box-shadow: -20px -20px 30px var(--shadow-ligth), 20px 20px 30px var(--shadow-dark);
  background-color: var(--color-black-dark);
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
  background-image: conic-gradient(var(--color-main-dark), 360deg, var(--color-black-medium) 0deg);
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar .p__app__number__temporizador__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 50%;
  background-color: var(--color-black-dark);
  box-shadow: -2px -2px 4px var(--shadow-ligth), 2px 2px 4px var(--shadow-dark);
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar .p__app__number__temporizador__container .timer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-black-dark);
  box-shadow: -4px -4px 8px var(--shadow-ligth), 4px 4px 8px var(--shadow-ligth);
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar .p__app__number__temporizador__container .timer__container .timer__container__timer {
  position: relative;
  text-align: center;
  width: 160px;
  font-size: 60px;
  font-weight: 800;
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar .p__app__number__temporizador__container .timer__container span {
  position: absolute;
  width: 50px;
  /* valor fijo */
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar .p__app__number__temporizador__container .timer__container .minuts__container {
  left: -15px;
}
.p__app__section__home .p__app__container .p__app__termporizador__container .p__app__termporizador .p__app__progress__bar .p__app__number__temporizador__container .timer__container .seconds__container {
  right: 15px;
}
.p__app__section__home .p__app__container .p__app__container__rounds {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
}
.p__app__section__home .p__app__container .p__app__container__rounds .rounds__counter {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--color-main-ligth);
}
.p__app__section__home .p__app__container .p__app__container__rounds .round__position__qty {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
}
.p__app__section__home .p__app__container .p__app__container__rounds .round__position__qty .round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -4px -4px 8px var(--shadow-ligth), 4px 4px 8px var(--shadow-ligth);
  background-color: var(--color-black-dark);
}
.p__app__section__home .p__app__container .p__app__container__rounds .round__position__qty .round__position {
  width: 25px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(left top, var(--color-main-dark), var(--color-main-ligth));
}
.p__app__section__home .p__app__container .p__app__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  width: 100px;
  padding: 12px;
  border-radius: 100px;
  background-color: var(--color-black-dark);
  outline: none;
  border: none;
  box-shadow: -8px -8px 12px var(--shadow-ligth), 8px 8px 12px var(--shadow-dark);
  cursor: pointer;
}
.p__app__section__home .p__app__container .p__app__btn img {
  width: 15px;
}
.p__app__section__home .p__app__container .p__app__btn__play__container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.p__app__section__home .p__app__container .p__app__btn__play__container #p__app__btn__play,
.p__app__section__home .p__app__container .p__app__btn__play__container #p__app__btn__pause {
  width: 100%;
  padding: 12px;
  border-radius: 100px;
  font-size: 24px;
  background-image: -webkit-linear-gradient(left top, var(--color-main-dark), var(--color-main-ligth));
}
.p__app__section__home .p__app__container .p__app__buttons__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}
.p__app__section__home .p__app__container .p__app__buttons__container button {
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
